.home-link {
  text-align: center;
  font-size: 1rem;
  margin-top: auto; 
}

.home-link a {
  color: #5e503f; 
  text-decoration: none; 
}

.home-link a:hover {
  text-decoration: underline; 
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* fade upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-text {
  flex: 2;
  text-align: left;
}

.portrait-photo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 350px;
  border-radius: 50%;
}

.selected {
  font-size: 3.5rem; 
}

/* Blues */
.developer a {
  color: var(--color-main-blue);
  text-decoration: none;
}

.developer a:hover {
  color: var(--color-hover-blue);
}

.designer a {
  color: var(--color-main-green);
  text-decoration: none;
}

.designer a:hover {
  color: var(--color-hover-green);
}

  .home-header {
    margin-top: 5rem;
    font-size: 3rem;
    text-align: left;
    font-weight: bolder;
  }
  
  .home-header2 {
    font-size: 3rem;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 2rem;
    }
  
    .home-content{
      font-size: 1.5rem;
      text-align: left;
      }

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .home-image {
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
  }

  .portrait-photo {
    margin: 0 auto;
    display: block;
  }
}